@using FaceNew.Models.Entity
@model List<rapor>
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/Layout.cshtml"; }

<h2 class="well">Rapor</h2>

<div style="margin-bottom:15px; margin-top:15px;">
    <input type="text" class="form-control" placeholder="Rapor Ara" />
</div>

<table class="table table-bordered">
    <tr class=" btn-danger">
        <th>Personel Id</th>
        <th>Personel Giriş</th>
        <th>Personel Çıkış</th>
        <th>Oda Id</th>
        <th>Personel Birim Id</th>

    </tr>
    @foreach (var rapor in Model)
    {
<tr>
    <td>@rapor.personel_ID</td>
    <td >@rapor.giris_saat</td>
    <td>@rapor.cıkıs_saat</td>
    <td>@rapor.oda_ID</td>
    <td>@rapor.birim_ID</td>
    

</tr>}
</table>