@model Facerecognition.Models.Entity.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("PersonelGuncelle","Personel",FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        @Html.LabelFor(p => p.personelid)
        @Html.TextBoxFor(p => p.personelid, new { @class = "form-control" })
        <br />
        <label>Kullanici Adı</label>
        @Html.TextBoxFor(p => p.kullaniciadi, new { @class = "form-control" })
        <label>Kullanici Şifre</label>
        @Html.TextBoxFor(p => p.kullanicisifre, new { @class = "form-control" })
        <label>Kullanici Kimlik No</label>
        @Html.TextBoxFor(p => p.kimlikno, new { @class = "form-control" })
        <label>Firma Id</label>
        @Html.TextBoxFor(p => p.firmaid, new { @class = "form-control" })
        <label>Personel Adı</label>
        @Html.TextBoxFor(p => p.personeladi, new { @class = "form-control" })
        <label>Personel Soyadi</label>
        @Html.TextBoxFor(p => p.personelsoyadi, new { @class = "form-control" })
        <label>Personel Mail</label>
        @Html.TextBoxFor(p => p.personelmail, new { @class = "form-control" })
        <label>Adres</label>
        @Html.TextBoxFor(p => p.adres, new { @class = "form-control" })
        <label>Telefon</label>
        @Html.TextBoxFor(p => p.telefon, new { @class = "form-control" })
        <label>Birimi</label>
        @Html.TextBoxFor(p => p.birimi, new { @class = "form-control" })
        <label>Giriş Zamanı</label>
        @Html.TextBoxFor(p => p.giriszamani, new { @class = "form-control" })
        <label>Çıkış Zamanı</label>
        @Html.TextBoxFor(p => p.cikiszamani, new { @class = "form-control" })
        <label>Ziyaret Saati</label>
        @Html.TextBoxFor(p => p.ziyaretsaati, new { @class = "form-control" })
        <label>Maas</label>
        @Html.TextBoxFor(p => p.maas, new { @class = "form-control" })
        <label>Mesai</label>
        @Html.TextBoxFor(p => p.mesai, new { @class = "form-control" })
        <label>Oda Id</label>
        @Html.TextBoxFor(p => p.odaid, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-danger">Güncelle</button>
    </div>

}

