@using Facerecognition.Models.Entity
@model List<Ziyaretci>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="well">Ziyaretçiler</h2>

<div style="margin-bottom:15px; margin-top:15px;">
    <input type="text" class="form-control" placeholder="Ziyaretçi Ara" />
</div>

<table class="table table-bordered">
    <tr class=" alert-success">
        <th>Ziyaretçi ID</th>
        <th>Ziyaretçi TC</th>
        <th>Firma ID</th>
        <th>Ziyaretçi Adı</th>
        <th>Ziyaretçi Soyadı</th>
        <th>Ziyaretçi Mail</th>
        <th>Ziyaretçi Adres</th>
        <th>Ziyaretçi Telefon</th>
        <th>Ziyaret Ettiği Personel</th>
        <th>Ziyaret Sebebi</th>
        <th>Ziyaret Tarihi</th>
        <th>Ziyaret Durum</th>
    </tr>
    @foreach (var zyrt in Model)
    {
        <tr>
            <td>@zyrt.ziyaretciid</td>
            <td>@zyrt.kimlikno</td>
            <td>@zyrt.firmaid</td>
            <td>@zyrt.ziyaretciadi</td>
            <td>@zyrt.ziyaretcisoyadi</td>
            <td>@zyrt.mail</td>
            <td>@zyrt.adres</td>
            <td>@zyrt.telefon</td>
            <td>@zyrt.personelid</td>
            <td>@zyrt.ziyaretsebebi</td>
            <td>@zyrt.ziyaretzamani</td>
            <td class="alert-danger">@zyrt.ziyaretdurum</td>
           


        </tr>
    }
</table>