@model FaceNew.Models.Entity.personel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2 class="alert-success">Yüz Tanıma Sistemleri: Kullanıcı Panel Ayarları</h2>

@using (Html.BeginForm("Index2", "Panel", FormMethod.Post))
{

    <table class="table table-bordered" style="margin-top:30px">

        <tr>
            <td>
                <label style="font-weight:bold"> Kullanıcı Adınız:</label> @HttpContext.Current.User.Identity.Name
            </td>
        </tr>



        <tr>
            <td>
                <label style="font-weight:bold"> Personel ID:</label>

                @Html.TextBoxFor(x => x.personel_ID, new { @class = "form-control", @readonly = "readonly" })
            </td>
        </tr>






        <tr>
            <td>
                <label style="font-weight:bold">
                    Kullanıcı Şifre:
                </label>
                @Html.TextBoxFor(x => x.kullanıcı_sifre, new { @class = "form-control" })
            </td>
        </tr>

        <tr>
            <td>
                <label style="font-weight:bold">
                    Personel Adı:
                </label>
                @Html.TextBoxFor(x => x.Padsoyad, new { @class = "form-control" })
            </td>
        </tr>

        

        <tr>
            <td>
                <label style="font-weight:bold">
                    Personel Mail:
                </label>
                @Html.TextBoxFor(x => x.mail, new { @class = "form-control" })
            </td>
        </tr>

        <tr>
            <td>
                <label style="font-weight:bold">
                    Personel Adres:
                </label>
                @Html.TextBoxFor(x => x.adres, new { @class = "form-control" })
            </td>
        </tr>

        <tr>
            <td>
                <label style="font-weight:bold">
                    Personel Telefon:
                </label>
                @Html.TextBoxFor(x => x.telefon, new { @class = "form-control" })
            </td>
        </tr>

        <tr>
            <td>
                <button class="btn btn-danger">Bilgileri Güncelle</button>
            </td>
        </tr>
    </table>
}

